@import "@scss/global.scss";

.winHead {
    width: 100%;
    background-color: $head-bg_light;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-user-select: none;
    @include border-bottom($border-line_light);

    .winHead_main,
    .winHead_handle {
        height: 100%;
    }

    .winHead_main {
        width: calc(100% - 70px);
        font-size: $head-main-size;
        text-align: right;
        -webkit-app-region: drag;
    }

    .winHead_handle {
        width: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
            .winHead_handle-btn {
                .winHead_handle-btn_icon {
                    opacity: 1;
                }
            }
        }
        .winHead_handle-btn {
            width: 12px;
            height: 12px;
            box-sizing: border-box;
            border-radius: 50%;
            overflow: hidden;
            text-align: center;
            line-height: 12px;
            display: table;
            cursor: pointer;

            &.winHead_handle--minus {
                background: $head-handle_yellow;
                border: 1px solid $head-handle-border_yellow;
            }

            &.winHead_handle--fullscreen {
                background: $head-handle_green;
                border: 1px solid $head-handle-border_green;
            }

            &.winHead_handle--close {
                background: $head-handle_red;
                border: 1px solid $head-handle-border_red;
            }

            .winHead_handle-btn_icon {
                color: $head-handle_color;
                font-size: $head-handle_size;
                display: table-cell;
                vertical-align: middle;
                opacity: 0;
            }
        }
    }
}